@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Inconsolata:wght@500&family=Merriweather:ital,wght@1,300&family=Nunito+Sans:ital,wght@0,400;0,600;1,400&family=Patrick+Hand&family=Quicksand:wght@300&family=Quintessential&display=swap');
.title{
    color: brown;
    text-align: center;
    margin-top: 30px; 
    font-family: 'Balsamiq Sans', cursive;
} 
.tableEmployee{ 
    text-align: center; 
    align-items: center;
    margin-top: 50px; 
    margin-left: 450px; 

    
   
} 

td {
    border: 1px solid black; 
    width: auto;
}

.imgEmp{
    width: 60px;
    height: 60px;
    border-radius: 5px;
} 

