@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Inconsolata:wght@500&family=Merriweather:ital,wght@1,300&family=Nunito+Sans:ital,wght@0,400;0,600;1,400&family=Patrick+Hand&family=Quicksand:wght@300&family=Quintessential&display=swap');

.title{
    color: brown;
    text-align: center;
    margin-top: 30px; 
    font-family: 'Balsamiq Sans', cursive;
} 

.img{
    
    margin-left: 420px;
  
    
  
   margin-top: 50px;
   border-radius: 300px;
   width: 600px;
   height: 600px;
}