@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Inconsolata:wght@500&family=Lora:ital,wght@1,500&family=Merriweather:ital,wght@1,300&family=Nunito+Sans:ital,wght@0,400;0,600;1,400&family=Patrick+Hand&family=Quicksand:wght@300&family=Quintessential&display=swap');

.parent{
    background-color: bisque;
    margin-top: 0px;
    text-align: center;


    .div1{
        color: brown;
        display:block;
        justify-content:center;
        padding-top: 20px;
        font-family: 'Balsamiq Sans', cursive;
    } 

    .inptDiv{
        margin-top: 15px;
       
    } 

    .inpt{
        background-color: transparent;
        padding-left: 8px;
        border-radius: 5px; 
        border-color: brown;
    } 

    .imgLoad{
        width: 80px;
        height: 80px;
    }

    





    .div3{
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-wrap: wrap;
        margin-top: 20px;
     
      
    }



}

