@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Inconsolata:wght@500&family=Merriweather:ital,wght@1,300&family=Nunito+Sans:ital,wght@0,400;0,600;1,400&family=Patrick+Hand&family=Quicksand:wght@300&family=Quintessential&display=swap');

.lista{
    padding-top: 20px;
    margin-left: 30px;
    margin-top: 30px;
    position: fixed;
    top: 0;
    
   width: 10%;
    height: 150px;
    border: 1px solid black;
    padding-left: 30px; 
    list-style-type: none; 
   
    
   
} 
li{
    font-family: 'Balsamiq Sans', cursive; 
    margin-top: 5px;
    
} 

.item{
    color: #C88751;
}

