.card{
    border: 2px solid #c4c4c4; 
    width: 18%; 
    margin-right: 30px; 

    

    .lbl{
        margin-top: 10px; 
        padding-bottom: 5px;
    } 
    
    .img{
        margin-top: 10px;
    } 



}  

.card:hover{
    border: 2px solid black;
}

